@import url('variables.css');
@import url('navbar.css');
@import url('footer.css');
@import url('main.css');
@import url(tailwind.css);

* {
    font-family: 'Courier New', Courier, monospace;
}

body, html {
    margin: 0;
    padding: 0;
    background-image: url('../media/bg_body.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
}

main {
    background-color: #fff;
}