main {
    background-color: #fff;
    min-height: 100vh;
    height: auto;
    max-width: 1080px;
}

main .button {
    background: linear-gradient(200deg, #A54399, #7a196f);
    color: #fff;
    cursor: pointer;
    border: 1px solid #A54399;
    padding: 8px 16px;
    border-radius: 4px; 
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); 
    max-width: fit-content; 
}

main .button:hover, main .button:focus {
    background: linear-gradient(200deg, #5a0f53, #4a0d46);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1); 
}

